@font-face {
    font-display: swap;
    font-family: 'recursive';
    src: url('../fonts/recursive.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'ibm';
    src: url('../fonts/ibm-plex-sans-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'ibm';
    src: url('../fonts/ibm-plex-sans-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

:root {
    --main-color: #bb19b8;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: currentColor;
    text-decoration-color: var(--main-color);
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'recursive', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 350;
    padding: 0 clamp(0.5rem, 0.194rem + 1.088vw, 1.5rem);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.page {
    font-size: clamp(1rem, 0.847rem + 0.544vw, 1.5rem);
    margin: 0 auto;
    max-width: 50rem;
}

.header,
.footer {
    align-items: center;
    background-color: var(--main-color);
    color: white;
    display: flex;
    font-family: 'ibm', sans-serif;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 calc(-1 * clamp(0.5rem, 0.194rem + 1.088vw, 1.5rem)) 1.5rem;
    padding: clamp(0.5rem, 0.194rem + 1.088vw, 1.5rem);
}

.footer {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0;
    margin-top: 3.5rem;
    text-align: center;

    a {
        color: white;
        text-decoration-color: white;
        text-decoration-style: dotted;
        text-decoration-thickness: 1px;
    }
}

.header-right {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.header-line {
    a {
        color: white;
        display: block;
        font-size: clamp(1.5rem, 1.224rem + 0.98vw, 2.4rem);
        font-variation-settings: 'CASL' 1;
        font-weight: 400;
        text-decoration: none;
        white-space: nowrap;
    }
}

.navigation ul,
.lang-switch ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    a {
        color: white;
        text-decoration: none;
    }
}

.lang-switch {
    a.active {
        display: none;
    }
}

.header-image {
    margin-bottom: clamp(1.2rem, 1.057rem + 0.381vw, 1.4rem);
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.main * + p,
.main p + * {
    margin-top: clamp(1.2rem, 1.057rem + 0.381vw, 1.4rem);
}

.main li + li {
    margin-top: .6rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
    margin-bottom: clamp(1.2rem, 1.057rem + 0.381vw, 1.4rem);
    margin-top: clamp(1.8rem, 1.657rem + 0.381vw, 2rem);
}

.gallery {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    padding: 0;

    li {
        margin: 0;

        & + li {
            margin-top: 0;
        }
    }

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media screen and (min-width: 30rem) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}

.meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.categories {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;

    li + li {
        margin-top: 0;
    }

    a {
        background-color: #f2f2f2;
        border-radius: 3px;
        display: block;
        font-size: .8em;
        padding: .2rem .5rem;
        text-decoration: none;
        transition: all .4s ease;

        &:hover {
            background-color: var(--main-color);
            color: white;
        }
    }
}

.archive-meta {
    .categories {
        display: inline-flex;

        a {
            padding: .1rem .3rem;
        }
    }
}