<!DOCTYPE html>
<html lang="{{ item.metadata.lang }}">
    <head>
        <meta charset="UTF-8">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
        </header>
        <nav>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>
