{% extends 'base.html.twig' %}

{% block head %}
    <title>{{ item.metadata.metaTitle }}</title>
    <meta name="description" content="{{ item.metadata.metaDescription }}">
{% endblock %}

{% block body %}
    {{ item.content|raw }}
{% endblock %}
